.container{
    margin: 8rem auto;
    max-width: 120rem;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-grey-light-1);

    //you will erase this later:
    min-height: 50rem;
}
.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
}
.sidebar{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-view{
    background-color: #fff;
    //this was just for testing:
    background-color: orange;
    flex: 1;

    //test
    height: 70rem;
}